<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<runtime>
		<AllowDComReflection enabled="true" />
	</runtime>
	<!--<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="SingleCall"
				           type="RandomNumberGenerator, RandomNumberGenerator"
				           objectUri="RandomNumberGenerator.rem" />
			</service>
			<channels>
				<channel ref="tcp"
				         port="12345" />
			</channels>
		</application>
	</system.runtime.remoting>-->
</configuration>